<section ng-controller="SchedulesController" ng-init="find()">
  <div class="page-header">
    <h1 translate>New Schedule</h1>
  </div>
  <div class="container">
<!--     <div class="col-md-2">
      <a class="btn btn-primary" ng-click="seek();">
        <i class="glyphicon glyphicon-eye-open"></i>
      </a>
    </div>    
    <div class="col-md-10">
      <div class="panel panel-default">
        <div class="panel-heading">result</div>
        <div class="panel-body">
          {{schedule.startTime |date:"MM/dd/yyyy 'at' h:mma"}}
          <div ng-show="schedule.startTime"> to </div>
          {{schedule.endTime | date:"MM/dd/yyyy 'at' h:mma"}}
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="col-md-4" ng-repeat="item in devices track by $index" ng-if="item.active">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">divice {{item._id}}</h4>
          </div>
          <div class="panel-body">
            <ul class="list-group">
              <div ng-repeat="deviceDate in item.dateArray" class="row">
                <div class="col-md-4 availableDate">
                  <span>{{deviceDate.date | date:'yy-MMM-dd EEE'}}</span>
                </div>
                <div class="col-md-4">
                  <button type="button" class="list-group-item" ng-click="selectIt(deviceDate,'A',item._id)" ng-disabled="deviceDate.bookedAm" ng-class="{disabled: deviceDate.bookedAm,'btn btn-info':selectedSchedule.date.getTime() == deviceDate.date.getTime()  &&selectedSchedule.device==item._id  &&selectedSchedule.sessionSymbol=='A'}">Morning</button>
                </div>
                <div class="col-md-4">
                  <button type="button" class="list-group-item" ng-click="selectIt(deviceDate,'P',item._id)" ng-disabled="deviceDate.bookedPm" ng-class="{disabled: deviceDate.bookedPm,'btn btn-info':selectedSchedule.date.getTime() == deviceDate.date.getTime()  &&selectedSchedule.device==item._id  &&selectedSchedule.sessionSymbol=='P'}">Afternoon</button>
                </div>
              </div>
            </ul>
          </div>
        </div>
      </div>      
    </div>
    <a class="btn btn-success" ng-click="saveIt()">Save</a>
  </div>
</section>
