<!doctype html>
<html ng-app='app'>
  <head>
    
  </head>
  <body>
    <h1 ng-controller="HelloWorldController">{{hellomessage}}</h1>
    <script src='https://code.angularjs.org/1.4.0/angular.js'></script>
    <script type="text/javascript">
    // []dependencies
    angular.module('app',[]).controller('HelloWorldController',
      function($scope){
        $scope.hellomessage = "hello bro";
      }
      )
    </script>
  </body>

</html>