<section ng-controller="ArticlesController">
  <div class="page-header">
    <h1 translate>New Article</h1>
  </div>
  <div class="col-md-12">
    <form name="articleForm" class="form-horizontal" ng-submit="create(articleForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="title" translate>Title</label>
          <input name="title" type="text" ng-model="title" id="title" class="form-control" placeholder='{{"Title"|translate}}' required>
          <div ng-messages="articleForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required" translate>Article title is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label for="content" translate>Content</label>
          <textarea name="content" ng-model="content" id="content" class="form-control" cols="30" rows="10" placeholder='{{"Content"|translate}}'></textarea>
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-default" value='{{"submit"|translate}}'>
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
